<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>849C2A1D1F9F1CC10069FE26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849C2A361F9F1CC20069FE26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849C2A411F9F1CC20069FE26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
